$primary: black;
$secondary: rgb(100, 100, 100);

/* common */
.Container {
  text-align: left;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  border: 1px solid #ccc;
  color: $primary;
  transition: 0.3s all ease;
  height: fit-content;
  max-width: 500px;

  &:hover {
    background-color: rgb(250, 250, 250);
    cursor: pointer;
  }
}

.Square {
  flex-direction: row;
}

.Secondary {
  color: $secondary;
  font-size: 0.8em
}

.LowerContainer {
  padding: 10px;
}

.Title {
  margin-top: 0;
  margin-bottom: 10px;
}

.Image {
  width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.Image-Square {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  min-width: 100px;
  min-height: 100px;
}

.SiteDetails {
  margin-top: 10px;
}

/* sm */
@media (max-width: 640px) {
  .Description {
    display: none;
  }

  .Image {
    min-height: 25vh;
  }
}

/* md */
@media (min-width: 641px) and (max-width: 768px) {
  .Description {
    display: none;
  }
}
